<div class="modal-header">
    <h5 class="modal-title">AVISO DE PRIVACIDAD</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
    <h4 class="titulo-parrafo">
        Con fundamento en los artículos 17 y 18, de la Ley de Protección de Datos Personales en Posesión de Sujetos
        Obligados del Estado de Tlaxcala, la Secretaría de Movilidad y Transporte del Estado de Tlaxcala, procede a
        emitir el Aviso de Privacidad Simplificado para la sociedad que acude a realizar trámites en esta Secretaría.
    </h4>
    <p class="parrafo">
        Esta Secretaría podrá recabar los datos personales siguientes: nombre completo, domicilio, edad, género, nivel
        de escolaridad, RFC, CURP, huellas dactilares, tipo de sangre, correo electrónico, teléfono y firma. Además,
        pueden ser recabados y tratados datos vehiculares, tales como: número de identificación vehicular (NIV) y placa
        de circulación. Y datos sensibles, tales como: dictámenes médicos.
    </p>
    <p class="parrafo">
        Los datos personales recabados serán utilizados para las finalidades siguientes: realizar los trámites y
        servicios en materia de transporte público y privado, así como la expedición de licencia de conducir, en sus
        modalidades presencial o virtual a través de la plataforma en línea. De manera adicional, los datos personales
        proporcionados podrán ser utilizados con fines estadísticos, registros de control e informes sobre el servicio
        brindado.
    </p>
    <br>
    <p class="parrafo">
        Le informamos que los datos proporcionados serán transferidos a la Secretaría de Finanzas del Estado de Tlaxcala
        con fines recaudatorios, de acuerdo al artículo 1 de la Ley de Ingresos para el Estado de Tlaxcala.
    </p>

    <p class="parrafo">
        En el ejercicio de la protección de sus datos personales, usted como titular podrá manifestar lo correspondiente
        en el tratamiento de los mismos, mediante un escrito libre dirigido a la Unidad de Transparencia o al Oficial de
        Protección de Datos Personales de esta Secretaría, al correo electrónico transparencia&#64;smytlax.gob.mx, o al
        teléfono 246 465 2960 ext. 3304 con horario de atención de lunes a viernes de 08:00 a 17:00 horas.
    </p>

    <p class="parrafo">
        Usted está consultando el Aviso de Privacidad Simplificado para la sociedad que acude a realizar trámites a la
        Secretaría de Movilidad y Transporte de manera presencial o en su modalidad virtual.
        <br>
        El sitio donde podrá consultar el aviso de privacidad integral es:
        <a href="https://smyt.tlaxcala.gob.mx/" target="_blank" class="parrafo">https://smyt.tlaxcala.gob.mx/</a>
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary boton-cerrar" (click)="close()">Cerrar</button>
</div>