<div class="modal-header">
    <h5 class="modal-title">AVISO DE PRIVACIDAD INTEGRAL DE REGISTRO Y CONTROL DEL PADRÓN DE CONTRATISTAS</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
    <h4 class="titulo-parrafo">
        Con fundamento en los artículos 17 y 19, de la Ley de Protección de Datos Personales en Posesión de
        Sujetos Obligados del Estado de Tlaxcala, la Secretaria de Finanzas, procede a emitir el aviso de
        privacidad integral de registro y control del padrón de contratistas.
    </h4>
    <p class="parrafo">
        La Secretaria de Finanzas, con domicilio en Plaza de la Constitución No 3, Colonia Centro, C.P. 90000,
        Tlaxcala, Tlax; es la responsable del tratamiento de los datos personales que nos proporcione, los
        cuales serán protegidos conforme a lo dispuesto por la Ley de Protección de Datos Personales en Posesión
        de Sujetos Obligados del Estado de Tlaxcala, y demás normatividad que resulte aplicable.
    </p>
    <h4 class="titulo-parrafo">¿Qué datos personales se recaban y para qué finalidad?</h4>
    <p class="parrafo">
        Esta Secretaria, según la solicitud para el registro para el Padrón de Contratistas que requiera, le
        recabará los datos personales siguientes:
        <u>Personería Jurídica del contratista, Nombre(s) con apellidos del contratista, Denominación o razón
            social contratista, Domicilio fiscal del contratista, Entidad federativa, si la empresa es nacional,
            RFC de la persona física o moral con homoclave incluida, Entidad federativa de la persona física o
            moral, Actividad económica de la empresa, Nombre(s) con apellidos del representante legal de la
            empresa, Teléfono de contacto representante legal de la empresa, Correo electrónico representante
            legal, en su caso, Tipo de acreditación legal representante legal, Teléfono oficial del contratista,
            Correo electrónico comercial del contratista.</u>
    </p>
    <h4 class="titulo-parrafo">Datos personales sensibles posiblemente recabados:</h4>
    <p class="parrafo text-center">No se recabarán datos personales sensibles</p>
    <br>
    <h4 class="titulo-parrafo">Los datos personales recabados serán utilizados para las finalidades siguientes:
    </h4>
    <p class="parrafo text-center">- Recibir, Registrar y otorgar el registro al Padrón de Contratistas
    </p>
    <br>
    <h4 class="titulo-parrafo">El fundamento legal que faculta a la Secretaria de Finanzas del estado de Tlaxcala
        para llevar a cabo el tratamiento de sus datos personales se encuentra en el Artículo 29 Bis de la Ley
        de Obras Públicas del estado de Tlaxcala.</h4>
    <p class="parrafo">
        <b>Le informamos que los datos proporcionados no serán transferidos a ninguna autoridad, poder, entidad,
            órgano u organismo gubernamental de los tres órdenes de gobierno o a personas físicas o morales;</b>
        salvo aquéllas que sean necesarias para atender requerimientos de información de una autoridad
        competente, que estén debidamente fundados y motivados.
    </p>
    <h4 class="titulo-parrafo">Los mecanismos y medios disponibles para que pueda manifestar su negativa al
        tratamiento de sus datos personales.</h4>
    <p class="parrafo">
        En el ejercicio de la protección de sus datos personales, usted como titular podrá manifestar su
        negativa en el tratamiento de sus datos personales, mediante un escrito dirigido a la Unidad de
        Transparencia o al Oficial de Protección de Datos Personales de esta Secretaria.
    </p>
    <h4 class="titulo-parrafo">Los mecanismos, medios y procedimientos disponibles para ejercer los derechos ARCO.
    </h4>
    <p class="parrafo">
        Usted podrá ejercer sus derechos ARCO directamente ante la Unidad de Transparencia o el Oficial de
        Protección de Datos Personales de la Secretaria de Finanzas, con los datos de contacto señalados en el
        párrafo anterior, o bien, a través de la Plataforma Nacional de Transparencia.
    </p>
    <a href="http://www.plataformadetransparencia.org.mx/" target="_blank"
        class="parrafo">http://www.plataformadetransparencia.org.mx/</a>
    <br><br>
    <p class="parrafo">
        Usted está consultando el aviso de privacidad integral de Registro y Control del Padrón De Contratistas
        de la Secretaria de Finanzas, mismo que le fue informado en el aviso de privacidad simplificado.
    </p>
    <h4 class="titulo-parrafo">Cambios al aviso de privacidad</h4>
    <p class="parrafo">
        En caso de que exista un cambio de este aviso de privacidad, lo haremos de su conocimiento de manera
        presencial en las instalaciones de la Dirección Administrativa de la Secretaria de Finanzas, en la
        Unidad de Transparencia y Acceso a la Información Pública de la secretaria de Finanzas o en la dirección
        electrónica
        <b>unidaddetransparencia.sf.gob.mx</b>
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary boton-cerrar" (click)="close()">Cerrar</button>
</div>