<div class="modal-header">
    <h5 class="modal-title">AVISO DE PRIVACIDAD INTEGRAL DE REGISTRO Y CONTROL DE REPOSICIÓN DE TARJETA POR CAMBIO DE COMBUSTIBLE</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
    <h4 class="titulo-parrafo">
        Con fundamento en los artículos 17 y 19 de la Ley de Protección de Datos Personales en Posesión de
        Sujetos Obligados del Estado de Tlaxcala, la Secretaría de Finanzas procede a emitir el aviso de
        privacidad integral de registro y control de Reposición de Tarjeta por Cambio de Combustible.
    </h4>
    <p class="parrafo">
        La Secretaría de Finanzas, con domicilio en Plaza de la Constitución No. 3, Colonia Centro, C.P. 90000,
        Tlaxcala, Tlax.; es la responsable del tratamiento de los datos personales que nos proporcione, los
        cuales serán protegidos conforme a lo dispuesto por la Ley de Protección de Datos Personales en Posesión
        de Sujetos Obligados del Estado de Tlaxcala y demás normatividad que resulte aplicable.
    </p>
    <h4 class="titulo-parrafo">¿Qué datos personales se recaban y para qué finalidad?</h4>
    <p class="parrafo">
        Esta Secretaría, según la solicitud para el registro de Reposición de Tarjeta por Cambio de Combustible que requiera, le
        recabará los siguientes datos personales:
        <u>Nombre(s) y apellidos del concesionario, denominación o razón
            social del concesionario, domicilio fiscal del concesionario, entidad federativa (si la empresa es nacional),
            RFC de la persona física o moral con homoclave incluida, entidad federativa de la persona física o
            moral, actividad económica de la empresa, nombre(s) y apellidos del representante legal de la
            empresa, teléfono de contacto del representante legal de la empresa, correo electrónico del representante
            legal (en su caso), tipo de acreditación legal del representante legal, teléfono oficial del concesionario,
            correo electrónico comercial del concesionario.</u>
    </p>
    <h4 class="titulo-parrafo">Datos personales sensibles posiblemente recabados:</h4>
    <p class="parrafo text-center">No se recabarán datos personales sensibles.</p>
    <br>
    <h4 class="titulo-parrafo">Los datos personales recabados serán utilizados para las siguientes finalidades:</h4>
    <p class="parrafo text-center">- Recibir, registrar y otorgar el registro de Reposición de Tarjeta por Cambio de Combustible.</p>
    <br>
    <h4 class="titulo-parrafo">
        El fundamento legal que faculta a la Secretaría de Finanzas del Estado de Tlaxcala
        para llevar a cabo el tratamiento de sus datos personales se encuentra en el artículo 29 Bis de la Ley
        de Obras Públicas del Estado de Tlaxcala.
    </h4>
    <p class="parrafo">
        <b>Le informamos que los datos proporcionados no serán transferidos a ninguna autoridad, poder, entidad,
            órgano u organismo gubernamental de los tres órdenes de gobierno, ni a personas físicas o morales;</b>
        salvo aquéllas que sean necesarias para atender requerimientos de información de una autoridad
        competente, debidamente fundados y motivados.
    </p>
    <h4 class="titulo-parrafo">
        Mecanismos y medios disponibles para manifestar su negativa al tratamiento de sus datos personales
    </h4>
    <p class="parrafo">
        En ejercicio de la protección de sus datos personales, usted, como titular, podrá manifestar su
        negativa al tratamiento de los mismos mediante un escrito dirigido a la Unidad de Transparencia
        o al Oficial de Protección de Datos Personales de esta Secretaría.
    </p>
    <h4 class="titulo-parrafo">Mecanismos, medios y procedimientos para ejercer los derechos ARCO</h4>
    <p class="parrafo">
        Usted podrá ejercer sus derechos ARCO directamente ante la Unidad de Transparencia o el Oficial de
        Protección de Datos Personales de la Secretaría de Finanzas, con los datos de contacto señalados en el
        párrafo anterior, o bien, a través de la Plataforma Nacional de Transparencia.
    </p>
    <a href="http://www.plataformadetransparencia.org.mx/" target="_blank" class="parrafo">
        http://www.plataformadetransparencia.org.mx/
    </a>
    <br><br>
    <p class="parrafo">
        Usted está consultando el aviso de privacidad integral de Registro y Control de Reposición de Tarjeta por Cambio de Combustible
        de la Secretaría de Finanzas, mismo que le fue informado en el aviso de privacidad simplificado.
    </p>
    <h4 class="titulo-parrafo">Cambios al aviso de privacidad</h4>
    <p class="parrafo">
        En caso de que exista un cambio en este aviso de privacidad, lo haremos de su conocimiento de manera
        presencial en las instalaciones de la Dirección Administrativa de la Secretaría de Finanzas, en la
        Unidad de Transparencia y Acceso a la Información Pública de la Secretaría de Finanzas, o en la dirección
        electrónica <b>unidaddetransparencia.sf.gob.mx</b>.
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary boton-cerrar" (click)="close()">Cerrar</button>
</div>